/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	margin: 50px;
 align-content: center;	
}



.navRow{
	display: flex;
	flex-flow: row ;
	justify-content: flex-start;
	justify-content:space-evenly;
	align-items: baseline;
}
.services-header-img{
	display: flex;
	width: auto;
	padding: 20px;
}

section{
padding-bottom: 30px;
}
.main-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}

.button{
	padding: 10px;
}

.box-one{
	border: solid 2px;
	background: lightgray;
	width: 400px;
	height: 600x;
	padding: 20px;

}
.box-two{
	border: solid 2px;
	background: lightgray;
	width: 400px;
	height: 600x;
	padding: 20px;
}

.box-three{
	border: solid 2px;
	background: lightgray;
	width: 400px;
	height: 600x;
	padding: 20px;
}

.box-four{
	border: solid 2px;
	background: lightgray;
	width: 400px;
	height: 600x;
	padding: 20px;
}

.box-five{
	border: solid 2px;
	background: lightgray;
	width: 400px;
	height: 600x;
	padding: 20px;
}

.box-six{
	border: solid 2px;
	background: lightgray;
	width: 400px;
	height: 600x;
	padding: 20px;
}

.last-box{
	border: 2px;
	width: 50%;
	height: auto;
	padding: 10px;
}

.bottom-content{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	
}

footer{
	margin-left: 50%;
}

.services-info-img{
	margin-left: 130%;
	padding-bottom: 60%

}

.move{
	width: 50%;
	padding-top:50%;
	padding-right: 55%;
	margin-left:10% ;
}